/*General Page Properties*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

/*Header*/
h1 {
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    margin: 0 auto;
    padding: 22px 0;
    font-size: 30px;
}

/*Nav*/
nav {
    text-align: center;
    font-size: 18px;
    /* width: 30%; */
    /* margin: 0 auto; */
}

nav a {
    color: white;
    background-color: lightgray;
    padding: 8px 5px;
    font-weight: 900;
    display: inline-block;
    text-decoration: none;
    /* margin: 0 auto; */
    /* text-align: center; */
}

/*Main Page Content*/

.wrapper {
    width: 85%;
    margin: 0 auto;
}

h3 {
    background-color: #42efc0;
    font-size: 19px;
    font-weight: 550;
    padding: 10px;
    margin: 10px auto;
    width:85%;
}

span.underline {
    border-bottom: 3px solid gold;
    /* text-decoration-color: yellow; */
}

span {
  color: black;
}


.row {
    text-align: center;
}

.photo-box {
    display: inline-block;
    padding: 0;
    margin: 0 0 15px 0;
}

img {
    display: inline-block;
}

.photo-box footer {
    background: gold;
    font-size: 12px;
    padding: 5px;
}

.top {
  margin-top: 15px;
}

/*Footer*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
